.companyPage__slider {
    margin-bottom: 0 !important;
}
.companyPage__slider .block {
    width: 430px;
    height: 540px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}
.companyPage__slider .block img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
}
.companyPage__slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
}
.companyPage__slider .slick-dots li {
    width: 100%;
    height: 4px;
    background: #F5F5F5;
    margin: 0;
}
.companyPage__slider .slick-dots li.slick-active {
    background: #D9D9D9;
}
.companyPage__slider .slick-dots button {
    display: none;
}